<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
     <meta charset="UTF-8">
     <title>Clexa Hosting Site</title>
    </head>
    <body>
        <div>
            <h2>Stories</h2>
            <hr/>
            <table border="1">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Date Added</th>
                        <th>Summary</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="story: ${stories}">
                        <td th:text="${story.title}"></td>
                        <td th:text="${story.author}"></td>
                        <td th:text="${story.date}"></td>
                        <td th:text="${story.description}"></td>
                        <td th:text="${story.tags}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>